<div class="desktop2-container">
  <div class="desktop2-desktop2">
    <img
      src="/assets/external/rectangle28121-bjxe-800h.png"
      alt="Rectangle28121"
      class="desktop2-rectangle2"
    />
    <img
      src="/assets/external/rectangle88122-85ak.svg"
      alt="Rectangle88122"
      class="desktop2-rectangle8"
    />
    <img
      src="/assets/external/rectangle88123-n7da-200h.png"
      alt="Rectangle88123"
      class="desktop2-rectangle81"
    />
    <img
      src="/assets/external/screenshot2023071501164318124-wvai-200h.png"
      alt="Screenshot2023071501164318124"
      class="desktop2-screenshot202307150116431"
    />
    <div class="desktop2-text-container">
      <div class="desktop2-text">
        {{currentQuestion.question}}
      </div>
      <div class="desktop2-text" (click)="onClickAnswer('A')">
        a) {{currentQuestion.a}}
      </div>
      <div class="desktop2-text"(click)="onClickAnswer('B')">
        b) {{currentQuestion.b}}
      </div>
      <div class="desktop2-text"(click)="onClickAnswer('C')">
        c) {{currentQuestion.c}}
      </div>
    </div>
    <div class="desktop2-text19">
      <div>
        Globally, it is estimated that over 8.3 billion metric tons of plastic
        waste have been produced since the 1950s, and approximately 79% of that
        waste is accumulated in landfills or the natural environment, including
        our oceans. Single-use plastic items, such as straws, bottles, and bags,
        contribute significantly to this waste and environmental pollution
      </div>
    </div>
    <img
      src="/assets/external/image211564-ywjr-300h.png"
      alt="image211564"
      class="desktop2-image21"
    />
  </div>
</div>
