<div class="desktop1-container">
  <div class="desktop1-desktop1">
    <img
      src="/assets/external/rectangle216-az9-1500w.png"
      alt="Rectangle216"
      class="desktop1-rectangle2"
    />
    <img
      src="/assets/external/rectangle113-ncup-200h.png"
      alt="Rectangle3114"
      class="desktop1-rectangle3"
    />
    <div class="desktop1-rectangle1-container">
      <img
        src="/assets/external/rectangle113-ncup-200h.png"
        alt="Rectangle113"
        class="desktop1-rectangle1"
      />
      <button [routerLink]="'quizz'"> Button Label</button>
    </div>
    <div class="desktop1-group1">
      <span class="desktop1-text"><span>Introducing</span></span>
      <img
        src="/assets/external/screenshot20230715011643115-zlcd-200h.png"
        alt="Screenshot20230715011643115"
        class="desktop1-screenshot202307150116431"
      />
    </div>
    <div class="desktop1-image8-container">
      <img
        src="/assets/external/image81103-ilsh-300w.png"
        alt="image81103"
        class="desktop1-image8"
      />
    </div>
    <img
      src="/assets/external/image91104-aj7w-300w.png"
      alt="image91104"
      class="desktop1-image9"
    />
    <img
      src="/assets/external/image161110-y0r-400h.png"
      alt="image161110"
      class="desktop1-image16"
    />
    <img
      src="/assets/external/image171113-v1p-500h.png"
      alt="image171113"
      class="desktop1-image17"
    />
    <img
      src="/assets/external/image198119-ztd-300h.png"
      alt="image198119"
      class="desktop1-image19"
    />
    <img
      src="/assets/external/image208120-smv8-400w.png"
      alt="image208120"
      class="desktop1-image20"
    />
    <img
      src="/assets/external/image188117-u1a-500h.png"
      alt="image188117"
      class="desktop1-image18"
    />
    <span class="desktop1-text02">
      <span>
        OUR MISSION IS TO HELP YOU SEE HOW SUSTAINABLE YOUR CURRENT LIFESTYLE
        IS!
      </span>
    </span>
    <img
      src="/assets/external/rectangle7190-z4k7-300w.png"
      alt="Rectangle7190"
      class="desktop1-rectangle7"
    />
    <div class="desktop1-group6">
      <img
        src="/assets/external/image2110-z5s-300w.png"
        alt="image2110"
        class="desktop1-image2"
      />
      <span class="desktop1-text04">
        <span>
          AFTER THE QUIZ YOU WILL BE CATEGORISED INTO 5 DIFFERENT CATEGORIES,
          WHERE YOU WILL BE ABLE TO SEE WHERE YOU STAND IN LIVING A SUSTAINABLE
          LIFESTYLE
        </span>
      </span>
    </div>
    <img
      src="/assets/external/rectangle6189-lzz-300w.png"
      alt="Rectangle6189"
      class="desktop1-rectangle6"
    />
    <div class="desktop1-group5">
      <img
        src="/assets/external/image3112-e60m-300h.png"
        alt="image3112"
        class="desktop1-image3"
      />
      <span class="desktop1-text06">
        <span>
          <span>
            PLEASE MAKE SURE TO ANSWER HONESTLY, SO YOU CAN GET ACCURATE
            RESULTS, AND FEEDBACK CAN BE GIVEN
          </span>
          <br />
          <span>ACCORDINGLY AND ACCURATELY.</span>
          <br />
          <span></span>
        </span>
      </span>
    </div>
    <img
      src="/assets/external/rectangle4187-f7re-300w.png"
      alt="Rectangle4187"
      class="desktop1-rectangle4"
    />
    <div class="desktop1-group4">
      <div class="desktop1-group3">
        <div class="desktop1-group2">
          <img
            src="/assets/external/image118-osel-300h.png"
            alt="image118"
            class="desktop1-image1"
          />
          <span class="desktop1-text13">
            <span>
              WE MADE AN ONLINE SUSTAINABIL-ITY CALCULATOR WHERE WE ASK AS
              GENERAL QUESTIONS ABOUT YOUR DAILYLIFE HABITS
            </span>
          </span>
        </div>
      </div>
    </div>
    <img
      src="/assets/external/rectangle5188-7ob7-300w.png"
      alt="Rectangle5188"
      class="desktop1-rectangle5"
    />
    <span class="desktop1-text15">
      <span>AND REMEMBER TO REDUCE, USE AND RECYCLE!</span>
    </span>
    <img
      src="/assets/external/image31116-sruh-300h.png"
      alt="image31116"
      class="desktop1-image31"
    />
  </div>
</div>
<router-outlet></router-outlet>