<div class="desktop13-container">
  <div class="desktop13-desktop13">
    <div class="desktop13-group7">
      <img
        src="/assets/external/rectangle21529-jigt-800h.png"
        alt="Rectangle21529"
        class="desktop13-rectangle2"
      />
      <img
        src="/assets/external/screenshot2023071501164311530-w9tv-200h.png"
        alt="Screenshot2023071501164311530"
        class="desktop13-screenshot202307150116431"
      />
      <img
        src="/assets/external/rectangle91530-1k2.svg"
        alt="Rectangle91530"
        class="desktop13-rectangle9"
      />
      <img
        src="/assets/external/rectangle81530-fldl-200h.png"
        alt="Rectangle81530"
        class="desktop13-rectangle8"
      />
    </div>
    <span class="desktop13-text"><span>YOUR SCORE /100 IS:</span></span>
    <span class="desktop13-text2"><span>YOU ARE IN THIS CATEGORY:</span></span>
    <img
      src="/assets/external/image442035-sep-1000h.png"
      alt="image442035"
      class="desktop13-image44"
    />
  </div>
</div>
